.checkout-side-menu {
  width: 100%;
  height: calc(100vh - 80px);
  transition: all 0.8s;
  opacity: 1;
}
@media (min-width: 640px) {
  .checkout-side-menu {
    width: 360px;
  }
}
.checkout-side-menu.closed {
  width: 250px;
  opacity: 0;
  pointer-events: none;
}
